In [1]:
import pandas as pd
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

In [3]:
# Sort player in the player dataframe by age in ascending order. Who is the youngest footballer in the EPL?
players.sort_values(by='age', ascending=True).head(n=1)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
237,Ben Woodburn,Liverpool,17,LW,1,1.5,1241,4.5,0.10%,5,1,Wales,0,1,10,1,0

In [8]:
players.nsmallest(columns='age', n=1)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
237,Ben Woodburn,Liverpool,17,LW,1,1.5,1241,4.5,0.10%,5,1,Wales,0,1,10,1,0

In [12]:
# Set the club column as the index of the dataframe. then sort the dataframe index in alphabetical order. Make sure these changes are aplied to the underliying data frame and carry over to the next question.

players.set_index('club', inplace=True)

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Arsenal,Petr Cech,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Arsenal,Theo Walcott,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Arsenal,Laurent Koscielny,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West+Ham,Edimilson Fernandes,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
West+Ham,Arthur Masuaku,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
West+Ham,Sam Byram,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
West+Ham,Ashley Fletcher,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
West+Ham,Diafra Sakho,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [14]:
players.sort_index(ascending=True, inplace=True)

In [16]:
players.head(n=10)

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Arsenal,Petr Cech,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Arsenal,Theo Walcott,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Arsenal,Laurent Koscielny,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
Arsenal,Hector Bellerin,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
Arsenal,Olivier Giroud,30,CF,1,22.0,2230,8.5,2.50%,116,2,France,0,4,1,1,0
Arsenal,Nacho Monreal,31,LB,3,13.0,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
Arsenal,Shkodran Mustafi,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
Arsenal,Alex Iwobi,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0

In [20]:
# Sort the dataframe values by club and market_value the club is alphabetical (Arsenal First) and the market_value is in descending order (with each team, the most valuable players first).
players.reset_index(inplace=True)

In [21]:
players.sort_values(by=['club', 'market_value'], ascending=[True, False], inplace=True)

In [22]:
players.head(n=10)

,club,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Arsenal,Alexandre Lacazette,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
3,Arsenal,Granit Xhaka,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
4,Arsenal,Granit Xhaka,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
5,Arsenal,Aaron Ramsey,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
6,Arsenal,Hector Bellerin,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
7,Arsenal,Shkodran Mustafi,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
8,Arsenal,Laurent Koscielny,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
9,Arsenal,Olivier Giroud,30,CF,1,22.0,2230,8.5,2.50%,116,2,France,0,4,1,1,0

In [23]:
players.tail(n=10)

,club,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
455,West+Ham,Adrian,30,GK,4,8.0,266,4.5,0.80%,64,2,Spain,0,4,20,0,0
456,West+Ham,Jose Fonte,33,CB,3,7.0,867,5.0,2.10%,98,2,Portugal,0,5,20,0,1
457,West+Ham,Mark Noble,30,CM,2,7.0,425,5.5,0.10%,71,1,England,0,4,20,0,0
458,West+Ham,Pablo Zabaleta,32,RB,3,7.0,698,5.0,2.70%,45,3,Argentina,0,5,20,0,0
459,West+Ham,Arthur Masuaku,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
460,West+Ham,Edimilson Fernandes,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,West+Ham,Sam Byram,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
462,West+Ham,Darren Randolph,30,GK,4,2.5,459,4.5,0.40%,69,2,Ireland,0,4,20,0,0
463,West+Ham,James Collins,33,CB,3,2.0,187,4.5,0.90%,69,2,Wales,0,5,20,0,0
464,West+Ham,Ashley Fletcher,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1